* {
  box-sizing: border-box;
  font-family: "baloo_paaji_2regular";
}

@font-face {
  font-family: "baloo_paaji_2regular";
  src: url("./components/assets/fonts/baloopaaji2-regular-webfont.woff2")
          format("woff2"),
    
          format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "baloo_paaji_2regular", sans-serif;
}

.todo-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #1a237e;
  margin-top: 20px;
}

.task-list {
  list-style-type: none;
  padding: auto;
  margin-left: 10px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox {
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox.checked {
  border-color: #4caf50;
}

.checkmark {
  color: #4caf50;
  font-size: 0px;

}

.task-text {
  flex-grow: 1;
}

.delete-btn, .undo-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.add-task {
  display: flex;
  margin-top: 20px;
}

.add-task input {
  flex-grow: 1;
  padding-left: 22px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.add-task button {
  padding: 8px 16px;
  background-color: #1a237e;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.completed .task-text {
  color: #4caf50;
}
.input-icon-wrapper {
  position: relative;
  display: inline-block;
}

.input-field {
  margin-left: 60px;
   padding-left: 30px; 
  width: 400px; 
  height: 40px; 
  border: 1px solid #ccc;  
 }


.input-icon {
  position: absolute;
  left: 60px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; 
  pointer-events: auto; 
}
